article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 5mm;
}

@media (max-width: 639.9px) {
  article {
    width: auto;
    min-height: 100vh;
  }
}